In [214]:
import pandas as pd
import numpy as np
import random
import datetime

In [2]:
DATA_DIR = "data/"
EMAIL = "andrea.piccione@epfl.ch"

# Found for the first exercise
HASH_EMAIL = "036dc6d8bb0decf1be8e94aaa5ee68a9dcd2f6c65e57ba00929495ff10e7a591"

# Exercise 1

## A

In [93]:
# Loading and parsing
com402_1 = pd.read_csv(DATA_DIR + "com402-1.csv", header=None, quotechar='"',skipinitialspace=True)
imdb_1 = pd.read_csv(DATA_DIR + "imdb-1.csv", header=None, quotechar='"',skipinitialspace=True)
com402_1.columns = ["hash_email", "hash_movie", "date", "rating"]
imdb_1.columns = ["email", "movie", "date", "rating"]

In [94]:
com402_1.head()

,hash_email,hash_movie,date,rating
0,ddb9241aaccbdc04515e17689dd7947cc9f6dbf5cec706...,af6429a1b26c02d9cbe2be0fa8139c3943e0e5a737eb0a...,01/01/01,2
1,7b1596d39c02955676414cd86717f9c54edcb9a35d47e8...,c01090522935bef23e6156530bf19c35d654e461771c61...,01/01/01,5
2,903ff3f053d4b36e5f7d3050aa38b869e62e8991513ed0...,0a28b2eba994d15df5b7fcbea41f3a0b6fa92e0d7c154f...,01/01/05,2
3,60fb4771f8f058aba6adecdefc702e219f9f61bc3b8fbe...,8b3ad398f391dba7e9c743c5785a2e0fa203f66d77e82e...,01/01/10,2
4,b419a53e6b2dc489741e470f10849e05cb0664d4317cec...,07f06dbe0bcb9f96c4d7d5a369f12644b0059577fe4c19...,01/02/01,5

In [95]:
imdb_1.head()

,email,movie,date,rating
0,fouad.mazen@epfl.ch,Dr. Strangelove or: How I Learned to Stop Worr...,01/01/01,2
1,taehyun.lee@epfl.ch,The Night of the Hunter,01/01/01,5
2,jorn.hofstad@epfl.ch,Pulp Fiction,01/02/01,5
3,justinas.sukaitis@epfl.ch,Psycho,01/02/01,2
4,edouard.ghaleb@epfl.ch,Metropolis,01/02/08,5

In [96]:
# Join databases for de-anonimization
db_join = pd.merge(com402_1, imdb_1, left_on=["date", "rating"], right_on=["date", "rating"])
db_join.head()

,hash_email,hash_movie,date,rating,email,movie
0,ddb9241aaccbdc04515e17689dd7947cc9f6dbf5cec706...,af6429a1b26c02d9cbe2be0fa8139c3943e0e5a737eb0a...,01/01/01,2,fouad.mazen@epfl.ch,Dr. Strangelove or: How I Learned to Stop Worr...
1,7b1596d39c02955676414cd86717f9c54edcb9a35d47e8...,c01090522935bef23e6156530bf19c35d654e461771c61...,01/01/01,5,taehyun.lee@epfl.ch,The Night of the Hunter
2,b419a53e6b2dc489741e470f10849e05cb0664d4317cec...,07f06dbe0bcb9f96c4d7d5a369f12644b0059577fe4c19...,01/02/01,5,jorn.hofstad@epfl.ch,Pulp Fiction
3,21a219a0c7c530a0aa4e49545b2796e8441ad263bbbb71...,e7c02e81cb361ba61f5754ec742b1aed4c4f16df347e77...,01/02/01,2,justinas.sukaitis@epfl.ch,Psycho
4,9e520414c628ae504d13983dc684510b7936540cf426b0...,8e4e001a3cb65049009c631dcd90cde5f84163385e65ac...,01/02/08,5,edouard.ghaleb@epfl.ch,Metropolis

In [97]:
# Get entries that match my hashed email, previously checked 
list_enc = com402_1[com402_1.hash_email == HASH_EMAIL]
list_enc.head()

,hash_email,hash_movie,date,rating
264,036dc6d8bb0decf1be8e94aaa5ee68a9dcd2f6c65e57ba...,1f51a8b9baf5e93bacbdb95d74d19386cb856ca6f95512...,04/06/01,2
445,036dc6d8bb0decf1be8e94aaa5ee68a9dcd2f6c65e57ba...,b711dc34949b07fe84f8c05810f6704781df787e83ae17...,06/07/16,2
447,036dc6d8bb0decf1be8e94aaa5ee68a9dcd2f6c65e57ba...,cf85ce5897e9b9d6d30e388347755e15489497c4a41c27...,06/08/11,1
584,036dc6d8bb0decf1be8e94aaa5ee68a9dcd2f6c65e57ba...,07f06dbe0bcb9f96c4d7d5a369f12644b0059577fe4c19...,08/01/02,3
699,036dc6d8bb0decf1be8e94aaa5ee68a9dcd2f6c65e57ba...,8b57019512edaf0fb214ca890309d560a5f3102cea6e67...,09/04/13,3

In [98]:
# Itereate over my entries in com402 and get the name of the movie from the join of the dbs
movie_list = []
for m in list_enc.hash_movie:
    movie_list.append(db_join[db_join.hash_movie == m].iloc[0].movie)

In [99]:
movie_list

['2001: A Space Odyssey',
 'Sunset Blvd.',
 'Chinatown',
 'Pulp Fiction',
 'Seven Samurai',
 'Star Wars: Episode V - The Empire Strikes Back',
 'Double Indemnity',
 'On the Waterfront',
 '12 Angry Men',
 "Schindler's List"]

In [91]:
# Saving result in file
pd.Series(movie_list).to_csv("movies_1", index=False, header=False)

## B

In [3]:
# Loading and parsing
com402_2 = pd.read_csv(DATA_DIR + "com402-2.csv", header=None, quotechar='"',skipinitialspace=True)
imdb_2 = pd.read_csv(DATA_DIR + "imdb-2.csv", header=None, quotechar='"',skipinitialspace=True)
com402_2.columns = ["hash_email", "hash_movie", "date", "rating"]
imdb_2.columns = ["email", "movie", "date", "rating"]

In [16]:
hash_counts = pd.DataFrame(com402_2.hash_movie.value_counts()).reset_index()
hash_counts.columns = ["hash", "counts"]

In [17]:
movie_counts = pd.DataFrame(imdb_2.movie.value_counts()).reset_index()
movie_counts.columns = ["movie", "counts"]

In [20]:
# Join databases for de-anonimization
match_movie_hash = pd.concat([movie_counts.movie, hash_counts.hash], axis=1, sort=False)

In [22]:
com402_2_ext = pd.merge(match_movie_hash, com402_2, left_on="hash", right_on="hash_movie")

In [25]:
my_movie_list = list(imdb_2[imdb_2.email == EMAIL].movie)
 
for u in com402_2_ext.hash_email.drop_duplicates():
    movie_list = com402_2_ext[com402_2_ext.hash_email == u].movie
    if set(my_movie_list) <= set(movie_list):
        my_hash = u

movie_list = list(com402_2_ext[com402_2_ext.hash_email == my_hash].movie)

In [28]:
movie_list

['The Godfather',
 'Seven Samurai',
 'The Godfather: Part II',
 'Pulp Fiction',
 '12 Angry Men',
 'Lawrence of Arabia',
 "Schindler's List",
 'Modern Times',
 'Spirited Away',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Casablanca',
 'Citizen Kane',
 'Vertigo',
 'Star Wars: Episode V - The Empire Strikes Back',
 'Chinatown',
 'Paths of Glory',
 'Double Indemnity',
 'North by Northwest',
 'Tokyo Story',
 'All About Eve']

In [29]:
# Saving result in file
pd.Series(movie_list).to_csv("movies_2", index=False, header=False)

## C

In [395]:
# Loading and parsing
com402_3 = pd.read_csv("com402-3.csv", sep=',', skipinitialspace=True, header=None, names=['hash_email', 'hash_movie', 'date', 'rating'], converters={"date": lambda s: datetime.strptime(s, '%d/%m/%y')})
imdb_3 = pd.read_csv("imdb-3.csv", sep=',', skipinitialspace=True, header=None, names=['email', 'movie', 'date', 'rating'], converters={"date": lambda s: datetime.strptime(s, '%d/%m/%y')})

In [398]:
my_dates = list(imdb_3[imdb_3.email == EMAIL].date)

In [397]:
all_name_hashes = set(com402_3.hash_email)

In [404]:
# Founding my hash
list_sets = []
margin = datetime.timedelta(days = 14)
for i in my_dates:
    set_date = set()
    for j in all_name_hashes:
        dates_hashes = set(com402_3[com402_3.hash_email == j].date)
        for d in dates_hashes:
            if d >= i - margin and d <= i + margin:
                set_date.add(j)
    list_sets.append(set_date)

In [411]:
my_hash = list(set.intersection(*list_sets))[0]

In [412]:
my_hash

'2780c7510d2762b80e61b17ce562f9ca3aedaa5ef317b48b8de41cafa34a6f6b'

In [413]:
my_hash_movies = com402_3[com402_3.hash_email == my_hash]

In [416]:
my_hash_dates = list(my_hash_movies.date)

In [483]:
# Foudning movies corresponding to my hash
movies_res = []
for h_m in com402_3[com402_3['hash_email'] == my_hash]['hash_movie']:
    movie_date = list(com402_3[com402_3['hash_movie']==h_m]['date'])
    movie_dictionary = imdb_3[['movie', 'date']].groupby('movie')['date'].apply(list).to_dict()
    for key, val in movie_dictionary.items():
        first_condition = True
        second_condition = True
        for j in range(len(val)):
            for i in range(len(movie_date)):
                if 14 > abs((movie_date[i] - val[j]).days):
                    break
                if len(movie_date) - 1 == i:
                    first_condition = False
                    second_condition = False
            if not second_condition:
                break
        if first_condition:
            movies_res.append(key)
            break

In [488]:
# Saving result in file --> didn't work for some strange reasons, I copied and pasted in a file the below print
pd.Series(movies_res).to_csv("movies_3", index=False, header=False)

In [485]:
print((*movies_res), sep='\n')

Jurassic Park
Fanny and Alexander
Chinatown
Ikiru
Blue Velvet
Monty Python and the Holy Grail
Raiders of the Lost Ark
Alien
Rififi
The Lord of the Rings: The Fellowship of the Ring
Solaris
Ugetsu monogatari
WALLE
Mr. Smith Goes to Washington
All the President's Men
E.T. the Extra-Terrestrial
Le Samoura
Night of the Living Dead
Touch of Evil
Brief Encounter
12 Years a Slave
Young Frankenstein
City Lights
Amelie
Trainspotting
Days of Heaven
The Terminator
Psycho
The Godfather
2001: A Space Odyssey
The Killer
The Shawshank Redemption
Rope
The Big Lebowski
La rgle du jeu
Finding Nemo
King Kong
The Passion of Joan of Arc
The Elephant Man
The Godfather: Part II
The 400 Blows
City of God
Ratatouille
Se7en
The Lion King
Sunset Blvd.
Network
Barry Lyndon
Les diaboliques
Andrei Rublev
Before Midnight
The Leopard
The Best Years of Our Lives
Harakiri
4 Months, 3 Weeks & 2 Days
A Clockwork Orange
The Pianist
M
Three Colors: Red
The Big Sleep
Butch Cassidy and the Sundance Kid
Singin' in the Rain
A Separation
Harold and Maude
Fight Club
Amores perros
The Manchurian Candidate
Stand by Me
Vertigo
It's a Wonderful Life
The Army of Shadows
Once Upon a Time in the West
Infernal Affairs
Indiana Jones and the Last Crusade
Spring, Summer, Autumn, Winter... and Spring
Lawrence of Arabia
Lagaan: Once Upon a Time in India
It Happened One Night
A Prophet
Strangers on a Train
The Great Dictator
Toy Story 2
The Shining
The Wild Bunch
Chungking Express
Rear Window
L.A. Confidential
The Wages of Fear
Sweet Smell of Success
The Lord of the Rings: The Return of the King
The Bride of Frankenstein
The Maltese Falcon
Inception
The Princess Bride
My Neighbor Totoro
On the Waterfront
Festen
Mad Max: Fury Road
Pather Panchali
Au Revoir Les Enfants